<form action="{if isset($mailtemplate)}{"mailtemplates_details"|___:$mailtemplate.templateid}{else}{"mailtemplates_create"|___}{/if}" method="post" class="form-horizontal">
 <fieldset>

<div class="control-group">
    <label class="control-label" for="gliederungid">{"Gliederung:"|__}</label>
    <div class="controls">
        {if isset($mailtemplate)}
         {$mailtemplate.gliederung.label|escape:html}
        {else}
         {include file=gliederungdropdown.block.tpl defaulttext="(auswählen)" selectedgliederungid=$gliederung.gliederungid}
        {/if}
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="label">{"Titel:"|__}</label>
    <div class="controls">
        <input type="text" name="label" value="{if isset($mailtemplate)}{$mailtemplate.label|escape:html}{/if}" />
    </div>
</div>

{if isset($mailtemplate)}
{include file="mailform.block.html" attachmentlinkget="mailtemplateattachment_get" attachmentlinkdelete="mailtemplateattachment_delete" attachmentlinkcreate="mailtemplateattachment_create" headers=$mailtemplate.headers attachments=$mailtemplate.attachments body=$mailtemplate.body}
{else}
{include file="mailform.block.html" attachmentlinkget="mailtemplateattachment_get" attachmentlinkdelete="mailtemplateattachment_delete" attachmentlinkcreate="mailtemplateattachment_create"}
{/if}

<div class="form-actions">
    <button class="btn btn-primary submit" type="submit" name="save" value="1">{"Speichern"|__}</button>
    <button class="btn">{"Abbrechen"|__}</button>
</div>

 </fieldset>
</form>
