<form action="{if isset($mailtemplate)}{"mailtemplates_details"|___:$mailtemplate.templateid}{else}{"mailtemplates_create"|___}{/if}" method="post">
 <fieldset>
 <table>
     <tr>
         <th><label for="label">{"Titel:"|__}</label></th>
         <td><input class="label" type="text" name="label" size="20" value="{if isset($mailtemplate)}{$mailtemplate.label|escape:html}{/if}" /></td>
     </tr>
 </table>
 <table>
 <tr class="header" id="headerrowtemplate" style="display:none;">
  <th><input type="text" name="headerfields[]" {literal}onKeyUp="if(this.value!=''){var l=document.getElementsByName('headerfields[]');for (var i=0;i<l.length;i++) {if (i>0 && l[i].value == '') {return;}} $(this.parentNode.parentNode).after($('<tr class=\'header\'>').append($('#headerrowtemplate').html()));}"{/literal} value="" />
  <td><input type="text" name="headervalues[]" value="" />
  <td>[<a href="javascript:void()" onClick="this.parentNode.parentNode.getElementsByTagName('input')[0].value='';this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)">x</a>]</td>
 </tr>
 {if isset($mailtemplate)}
 {foreach from=$mailtemplate.headers key=headerfield item=headervalue}
 <tr class="header">
  <th><input type="text" name="headerfields[]" {literal}onKeyUp="if(this.value!=''){var l=document.getElementsByName('headerfields[]');for (var i=0;i<l.length;i++) {if (i>0 && l[i].value == '') {return;}} $(this.parentNode.parentNode).after($('<tr class=\'header\'>').append($('#headerrowtemplate').html()));}"{/literal} value="{$headerfield|escape:html}" /></th>
  <td><input type="text" name="headervalues[]" value="{$headervalue|escape:html}" /></td>
  <td>[<a href="javascript:void()" onClick="this.parentNode.parentNode.getElementsByTagName('input')[0].value='';this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)">x</a>]</td>
 </tr>
 {/foreach}
 {/if}
 <tr class="header">
  <th><input type="text" name="headerfields[]" value="" {literal}onKeyUp="if(this.value!=''){var l=document.getElementsByName('headerfields[]');for (var i=0;i<l.length;i++) {if (i>0 && l[i].value == '') {return;}} $(this.parentNode.parentNode).after($('<tr class=\'header\'>').append($('#headerrowtemplate').html()));}"{/literal} />
  <td><input type="text" name="headervalues[]" value="" />
  <td>[<a href="javascript:void()" onClick="this.parentNode.parentNode.getElementsByTagName('input')[0].value='';this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)">x</a>]</td>
 </tr>
 <tr class="attachments">
  <td colspan="3">{if isset($mailtemplate)}{foreach from=$mailtemplate.attachments item=attachment}
   <a href="{"mailtemplateattachment_get"|___:$mailtemplate.templateid:$attachment.fileid}">{$attachment.exportfilename}</a>
   <a href="{"mailtemplateattachment_delete"|___:$mailtemplate.templateid:$attachment.fileid}" class="delimg">&nbsp;</a>
  {/foreach} <span class="buttonbox"><a href="{"mailtemplateattachment_create"|___:$mailtemplate.templateid}">{"Hinzufügen"|__}</a></span>{/if}</td>
 </tr>
 <tr class="body">
  <td colspan="3"><textarea name="body" rows="10" cols="70">{if isset($mailtemplate)}{$mailtemplate.body|escape:html}{/if}</textarea></td>
 </tr>
 </table>
 <input class="submit" type="submit" name="save" value="{"Speichern"|__}" />
 </fieldset>
</form>
