<form action="{if isset($mailtemplate)}{"mailtemplates_details"|___:$mailtemplate.templateid}{else}{"mailtemplates_create"|___}{/if}" method="post" class="form-horizontal">
 <fieldset>

<div class="control-group">
    <label class="control-label" for="gliederungid">{"Gliederung:"|__}</label>
    <div class="controls">
        {if isset($mailtemplate)}
         {$mailtemplate.gliederung.label|escape:html}
        {else}
         {include file=gliederungdropdown.block.tpl defaulttext="(auswählen)" selectedgliederungid=$gliederung.gliederungid}
        {/if}
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="label">{"Titel:"|__}</label>
    <div class="controls">
        <input type="text" name="label" value="{if isset($mailtemplate)}{$mailtemplate.label|escape:html}{/if}" />
    </div>
</div>

<div>
 <div id="headerrowtemplate" style="display:none;">
  <input type="text" name="headerfields[]" {literal}onKeyUp="if(this.value!=''){var l=document.getElementsByName('headerfields[]');for (var i=0;i<l.length;i++) {if (i>0 && l[i].value == '') {return;}} $(this.parentNode).after($('<div>').append($('#headerrowtemplate').html()));}"{/literal} value="" />
  <input type="text" name="headervalues[]" value="" class="span5" />
  <a href="javascript:void()" onClick="this.parentNode.parentNode.removeChild(this.parentNode)" class="close">&times;</a>
 </div>
 {if isset($mailtemplate)}
 {foreach from=$mailtemplate.headers key=headerfield item=headervalue}
 <div>
  <input type="text" name="headerfields[]" {literal}onKeyUp="if(this.value!=''){var l=document.getElementsByName('headerfields[]');for (var i=0;i<l.length;i++) {if (i>0 && l[i].value == '') {return;}} $(this.parentNode).after($('<div>').append($('#headerrowtemplate').html()));}"{/literal} value="{$headerfield|escape:html}" />
  <input type="text" name="headervalues[]" value="{$headervalue|escape:html}" class="span5" />
  <a href="javascript:void()" onClick="this.parentNode.parentNode.removeChild(this.parentNode)" class="close">&times;</a>
 </div>
 {/foreach}
 {/if}
 <div>
  <input type="text" name="headerfields[]" {literal}onKeyUp="if(this.value!=''){var l=document.getElementsByName('headerfields[]');for (var i=0;i<l.length;i++) {if (i>0 && l[i].value == '') {return;}} $(this.parentNode).after($('<div>').append($('#headerrowtemplate').html()));}"{/literal} value="" />
  <input type="text" name="headervalues[]" value="" class="span5" />
  <a href="javascript:void()" onClick="this.parentNode.parentNode.removeChild(this.parentNode)" class="close">&times;</a>
 </div>
</div>

<div>
 {if isset($mailtemplate)}
  {foreach from=$mailtemplate.attachments item=attachment}
   <a href="{"mailtemplateattachment_get"|___:$mailtemplate.templateid:$attachment.fileid}">{$attachment.exportfilename}</a>
   <a href="{"mailtemplateattachment_delete"|___:$mailtemplate.templateid:$attachment.fileid}" class="close">&times;</a>
  {/foreach}
  <a href="{"mailtemplateattachment_create"|___:$mailtemplate.templateid}" class="btn btn-success">{"Attachment hinzufügen"|__}</a>
 {/if}
</div>


<div>
    <textarea name="body" rows="10" cols="70" class="span7">{if isset($mailtemplate)}{$mailtemplate.body|escape:html}{/if}</textarea>
</div>

<div class="form-actions">
    <button class="btn btn-primary submit" type="submit" name="save" value="1">{"Speichern"|__}</button>
    <button class="btn">{"Abbrechen"|__}</button>
</div>

 </fieldset>
</form>
