body {
	font-family:sans-serif;
    font-size:13px;
    margin:0px;
    background-color:#e5e5e5;
    color:#332f2c;
    margin-bottom:50px;
}

img {
    border:none;
}

fieldset {
	border:0px; margin:0px; padding:0px;
}

a {
    text-decoration:none;
    color:#332f2c;
    font-weight:bold;
}

a:hover {
    color:#ff8800;
}

.role {
	background-color:#ccc;
	margin:2px;
	border:1px solid black;
	padding:2px;
}

.header {
    margin:0px;
    background-color:#404040;
    border-bottom:2px solid #666666;
    height:28px;
    padding:0px 10px;
    margin-bottom:20px;
}

.logo {
    color:white;
    font-weight:bold;
    font-size:20px;
}

.login {
    float:right;
    padding-top:5px;
}

.login a {
    color:white;
    padding-left:22px;
    background:url("images/logout-grey.png") no-repeat;
}

.login a:hover {
    color:#ff8800;
    background:url("images/logout.png") no-repeat;
}

#sidebar {
    position:absolute;
}

.navigation, .sidebar {
    margin-left:10px;
    margin-bottom:10px;
    margin-left:10px;
    border:2px solid #404040;
    padding:10px;
    width:180px;
    background-color:white;
}

.navigation ul {
    margin:0px;
    padding:0px;
}

.navigation li {
    list-style-type:none;
    margin-bottom:2px;
}

.content {
    margin-right:10px;
    margin-left:230px;
    border:2px solid #404040;
    padding:10px;
    background-color:white;
}

.entrylist {
    margin:20px 0px;
    padding:0px;
    width:99%;
    list-style-type:none;
    border:1px solid grey;
    padding:4px;
}

.entrylist li {
    padding:3px;
}

.entrylist li:hover {
    background-color:#ff8800;
}

.entrylist a:hover {
    color:black;
}

.entryodd {
    background-color:#ffffff;
}

.entryeven {
    background-color:#cfcfcf;
}

.listentry li {
    list-style-type:none;
    display:inline;
}

.hover {
    background-color:#ffcb8c;
}

.notiz {
    margin:5px;
    padding:2px;
    background-color:#FACB11;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.notiz .kommentar {
    font-weight:bold;
}

form.filter, form.filter fieldset {
	display:inline;
}

.buttonbox a {
    font-size:70%;
    color:white;
    background-color:#404040;
    padding:4px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.buttonbox a:hover {
	color:white;
	background-color:#ff8800;

}

.separator {
    color:#404040;
    font-weight:bold;
}

.description {
    font-size:80%;
}

.sideinfo {
    float:right;
    width:47%;
    padding-left:3%;
}

.sideinfoheader {
    font-size:120%;
    margin:0px;
}

.mainform {
    float:left;
    width:50%
}

.pagetitle {
    font-weight:900;
    font-size:25px;
    margin:0px;
    padding-bottom:5px;
    border-bottom:2px solid #404040;
    margin-bottom:10px;
}

.permissionlist {
    text-align:left;
}

.delimg {
    background:url("images/delete-grey.png") no-repeat;
    width:15px;
    display:inline-block;
}

.delimg:hover {
    background:url("images/delete.png") no-repeat;
}

.error {
    color:red;
    font-size:17px;
    font-weight:bold;
}

#ex {
    color:#949494;
}

#ex a {
    color:#949494;
}

#ex:hover {
    background-color:#FF0900;
    color:white;
}

#ex:hover a {
	color:white;
}

.exmessage {
    color:red;
    font-size:15px;
    font-weight:bold;
    margin:0px;
}

.neumitglied  {
	color:white;
	background-color:#404040;
	padding:4px;
	font-size:70%;
	font-weight:bold;
}


#l {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

#r {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width:3px;
}

input[type="submit"]  {
    border:none;
    background-color:#404040;
    color:white;
    padding:4px;
    font-size:70%;
	font-weight:bold;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color:#ff8800;
}

input[type="text"], input[type="password"], textarea {
    border:1px solid #404040;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover{
    border:1px solid #000000;
}

select {
    border:none;
    background-color:#404040;
    color:white;
    padding:4px;
    font-size:70%;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.permissionrow:hover {
    color:#000000;
}

.pages {
    float:right;
}

.pages a, .pagingsep {
    background-color:#404040;
    padding:4px;
    color:white;
    font-size:70%;
	font-weight:bold;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pages .curpage {
    background-color:#ff8800;
}

.pages a:hover {
    background-color:#ff8800;
}

.create {
    float:left;
}

.buttonbox {
    margin-top:-4px;
    margin-bottom:10px;
}

