body {
	margin-bottom:50px;
	padding-top:50px;
}

.span {
	min-width:200px;
}

.sidebar-nav {
	padding: 9px 0;
}

td .close {
	float:right;
}

.description {
	color:#999;
	font-size:75%;
	padding:0px;
	margin:0px;
}

.loading {
	background-image:url(images/loading.gif);
	background-repeat:no-repeat;background-position:center right;
}
